@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray: #d9d9d9;
    &,
    &.light-mode {
      --one: #9e9e9e;
      --two: #383838;
      --text-color: #111111;
    }

    &.dark-mode {
      --one: #444444;
      --two: #373636;
      --text-color: #ffffff;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, var(--one), var(--two));
}

@layer components {
  .mainDiv {
    @apply min-h-[300px] rounded-xl bg-bgColor p-[20px] text-center font-bold;
  }
}

.mainDiv {
  box-shadow: 6px 6px 2px 1px #1e1e1e;
}
